@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<DatabaseModelClasses.ViewModels.TripViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Trips</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
	    <th>
		    @Html.DisplayNameFor(model => model.TripId)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.VehicleId)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Date)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Time)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.DestinationAddress)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.MeetingAddress)
	    </th>
	    <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.TripId)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.VehicleId)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Date)
		</td>
		<td>
			@item.Time.ToString("h:mm tt")
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.DestinationAddress)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.MeetingAddress)
		</td>
		<td>
			<a asp-action="Edit" asp-route-id="@item.TripId">Edit</a> |
			<a asp-action="Details" asp-route-id="@item.TripId">Details</a> |
			<a asp-action="Delete" asp-route-id="@item.TripId">Delete</a>
		</td>
	</tr>
}
    </tbody>
</table>
