@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<DatabaseModelClasses.ViewModels.ManifestViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Manifests</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
	    <th>
		    @Html.DisplayNameFor(model => model.ManifestId)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Id)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.TripId)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Notes)
	    </th>
	    <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ManifestId)
				</td>
	        <td>
		        @Html.DisplayFor(modelItem => item.Id)
	        </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.TripId)
	        </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.Notes)
	        </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ManifestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ManifestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ManifestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
